<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
    <div class="links">
        <a href="https://www.linkedin.com/in/mtyler0">
            <i class="fa fa-linkedin" style="font-size:36px" target="_blank" title="LinkedIn"></i>
        </a>

        <a href="https://github.com/mtyler0">
            <i class="fa fa-github" style="font-size:36px" title="GitHub"></i>
        </a>
    </div>
</body>
</html>