<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="pageTitle">Needleman-Wunsch Global Sequence Alignment Tool</div>
        <div class="entry">
            <form action="">
                <label for="myseq">Enter a query sequence:</label><br>
                <textarea id="seq1" class="reset" rows="5" cols="80" name="QUERY" suggesthint="Input limited to 100,000 letters for either input sequence. The total length of both query and subject may not exceed 150,000 letters." value="">Input limited to 100,000 letters for either input sequence. The total length of both query and subject may not exceed 150,000 letters.
                </textarea><br>
                <label for="myfile">Upload</label>
                <input type="file" id="seq1file" name="seq1file">
            </form>
        </div>
        <div class="entry">
            <form action="">
                <label for="myseq">Enter a subject sequence:</label><br>
                <textarea id="seq2" class="reset" rows="5" cols="80" name="SUBJECT" suggesthint="Input limited to 100,000 letters for either input sequence. The total length of both query and subject may not exceed 150,000 letters." value="">Input limited to 100,000 letters for either input sequence. The total length of both query and subject may not exceed 150,000 letters.
                </textarea><br>
                <label for="myfile">Upload</label>
                <input type="file" id="seq2file" name="seq2file">
            </form>
        </div>
        <div class="submit"><input type="submit"></div>
        <div id="aligner">
            <label for="aligned">Alignment of {{ seq1 }} and {{ seq2 }}:</label>
            <pre>{{ alignment }}</pre>
        </div>
    </div>
</body>
</html>