{% extends "base.html" %}

{% block body %}
<div class="content">
    <div class="pageTitle">Jobs</div>
    <div class="job-list">
    <table>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Match</th>
            <th>Mismatch</th>
            <th>Gap</th>
        </tr>
        {% for row in results %}
        <tr>
            <td><a href="/jobs/{{job_id}}">{{ row[0] }}</td></a>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <!-- <td><pre>{{ row[7] }}</pre></td> -->
            <!-- <td><pre>{{ row[10] }}</pre></td> -->
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}